img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--color-white);
  color: var(--color-slate);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
